@import url('sentient.css');

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(251, 253, 255);
  font-family: 'Sentient-Light', Helvetica;
  color: #1d2951;
  margin: 25px 30px;
} 

.logo {
  position: fixed;
  top: 0px;
  left: 32px;
  z-index: 1;
  margin: 0px;
}

#logo {
  font-family: 'Sentient-ExtraLight';
  color: #d5c09c;
  letter-spacing: 0;
}

#title {
  font-size: 48px;
}

h1 {
  font-family: 'Sentient-Light', Helvetica;
  color: #446ccf;
  letter-spacing: 1px;
}

h3 {
  margin-bottom: -10px;
  color: #446ccf;
  font-size: 28px;
}

#date-and-title {
  font-family: 'Sentient-ExtraLight';
  color: #1c2841;
  margin-top: -15px;
  letter-spacing: 1px;
}

p {
  position: relative;
  max-width: 612px;
  text-align: justify;
  justify-content: center;
  line-height: 1.5em;
}

aside {
  position: relative;
  margin: 0px 14px;
  max-width: 584px;
  justify-content: center;
  line-height: 1.5em;
  font-family: 'Sentient-ExtraLight';
  font-size: 0.85em;
}

a {
  color: inherit;
  text-decoration: none;
}

#regular-link {
  color: #446ccf;
}

img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 556px;
  padding: 14px 28px;
}

.code-segment {
  margin: 28px;
  font-size: 16px;
}