@import url('sentient.css');

html {
  display: flex;
}

body {
  margin: 0;
}

.video-banner video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.top-bar {
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.logo {
  padding: 2vh 2vw;
}

nav {
  position: absolute;
  display: block;
  right: 0vw;
  top: 2vh;
  padding: 1vh 1vw;
  font-family: 'Sentient-ExtraLight';
  font-size: 24px;
  display: flex;
}

.nav-container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  font-family: 'Sentient-Regular';
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  cursor: pointer;
  border: none;
  color: #1c2841;
  text-decoration: none;
}

button::after {
  content: '.';
}

@media (hover: hover) {
  /* targets only devices that can hover */

}

@media (hover: none) {
  /* targets only devices that can not hover */

  button:hover::after {
    content: ':';
  }

}

.nav-section {
  text-align: right;
  position: relative;
  margin: 0vh 1vw;
}


.nav-subsection {
  height: 100%; /* change this to 100% to view nav-subsections; 0 to hide. */
  overflow: hidden;
}

.nav-subsection-button {
  font-family: 'Sentient-Light';
  font-size: 20px;
  border: none;
  direction: ltr;
}

.nav-subsection-button:hover {
  text-decoration: underline;
}

.nav-subsection-button:after {
  content: none;
}

.nav-subsection-button:hover::after {
  content: none;
}

.nav-subsection-content {
  font-family: 'Sentient-ExtraLight';
}

a {
  text-decoration: none;
  color: inherit;
}

.released {
  text-decoration: underline;
  font-size: 16px;
  color: #446ccf;
}

.unreleased {
  font-family: 'Sentient-ExtralightItalic';
  font-size: 14px;
  text-decoration: line-through;
  color: #d5c09c9b;
  pointer-events: none;
}