@import url('sentient.css');

.video-banner video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: 'Sentient-ExtraLight';
  color: #d5c09c;
  z-index: 1;
  text-decoration: none;
}

nav {
  position: absolute;
  display: block;
  z-index: 1;
  right: 24px;
  top: 24px;
  padding: 12px 18px;
  border-radius: 18px;
  background-color: rgba(251, 253, 255, 0.1);
  background-blend-mode: lighten;
  text-align: justify;
  direction: rtl;
  font-family: 'Sentient-Medium';
  font-size: 24px;
  color: #1d2951;
}

a {
  text-decoration: none;
  color: inherit;
}

.released {
  font-family: 'Sentient-Light';
  text-decoration: underline;
  font-size: 20px;
  color: #446ccf;
}

.unreleased {
  font-family: 'Sentient-ExtralightItalic';
  font-size: 16px;
  text-decoration: line-through;
  color: #d5c09c9b;
  pointer-events: none;
}

h6 {
  border
}